{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="col-xs-12">
                    <h1>Espace de création de compte</h1>
                </div>
                {% form_theme form 'bootstrap_4_layout.html.twig' %}
                {{ form(form) }}

            </div>
        </div>
    </div>
{% endblock %}

